<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LinkedIn </title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  
  <div id="main">
      <div id="nav">
        <div id="logo">
          <img src="../images/Group 1.png" alt="">
        </div>
        <div id="rgt">
          <a href="/register/company"><button class="btn-grad">Register as Company</button></a>
          <a href="/register/user"><button class="btn-grad">Register as User</button></a></div>
      </div>
      <div id="text">
        <h1>Welcome to your professional community</h1>
        <div id="form">
          <form action="/login" method="post">
            <input type="text" name="username" placeholder="Enter username">
            <input type="password" name="password" placeholder="Password">
            <a href="/reset"> <button id="fp">Forgot Password ?</button> </a>
            <input type="submit" value="Sign in" class="sub">
            
          </form>
        </div>
      </div>
      <div id="img">
        <img src="../images/homepage.svg" alt="">
      </div>
  </div>

</body>
</html>
