<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedIn</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div class="main2">
        <div class="box" style="width: 30vw;height: 40vh;">
            <h3>Enter your email address :- </h3>
            <form action="/reset" method="post" style="display: flex;flex-direction:column;align-items: center;justify-content:flex-end;">
                <input type="text" name="email"><br><br>
                <input type="submit" value="Send Mail" class="sub" style="width: 10vw;" >
            </form>
        </div>
    </div>
    
</body>
</html>