<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedIn</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <div class="main2">
        <div class="box">
            <img src="../images/Group 1.png" alt="">
            <h3>Register Your User</h3>
            <form action="/register/user" method="post">
                <div class="inp">
                    <label for="a">Name :</label>
                    <input type="text" name="name" id="b" autocomplete="off">
                </div>
                <div class="inp">
                    <label for="b">Username :</label>
                    <input type="text" name="username" id="b" autocomplete="off">
                </div>
                <div class="inp">
                    <label for="c">Contact : </label>
                    <input type="number" name="contact" id="c" autocomplete="off">
                </div>
                <div class="inp">
                    <label for="d">Email :</label>
                    <input type="text" name="email" id="d" autocomplete="off">
                </div>
                <div class="inp">
                    <label for="e">Password :</label>
                    <input type="password" name="password" id="e" autocomplete="off">
                </div>

                <input type="submit" value="Sign Up" class="sub">
            </form>

        </div>
    </div>

</body>

</html>